#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
    border-radius: 232.2px 232.2px 0 0;
    transform:translate(0%, -50%);
    background-color: #212121;
    border-top: 1px solid #00A2E8;
    border-right: 1px solid #00A2E8;
    border-left: 1px solid #00A2E8;
    border-bottom: 0.75px solid #00A2E8;

  }
  
  #bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
    border-radius: 0 0 232.2px 232.2px;
    transform:translate(0%, 50%);
    background-color: #212121;
    border-bottom: 1px solid #00A2E8;
    border-right: 1px solid #00A2E8;
    border-left: 1px solid #00A2E8;
    border-top: 0.75px solid #00A2E8;
  }

  #finish-text, #resume-text {
    color: white;
    font-size: 30px;
    position: relative;
    cursor:pointer;
  }

  #resume-text {
    top: 30px;
    right: 20px;
  }

  #finish-text {
    left: 20px; 
  }

  #resume, #finish {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  #resume {
    left: 55px;
    top: -20.5px;

  }

  #finish {
    right: 50px;
    top: -53.5px;

  }

  

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
    font-size: 25px;
    text-align: center;
    position: absolute;
    height: 232.2px;
    width: 232.2px;
    background-color: #212121;
    /* display:none; */
    border-radius: 50%;
    padding-block-start: 0px;
    z-index: 99;
  }


  