/* body {
    height: 232.2px;
    width: 232.2px; 
} */

h1 {
    color: white;
    font-size: 35px;
}

.screen {
    font-size: 25px;
    position: absolute;
    height: 236px;
    width: 236px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    background-color: #212121;
  }

  #top-left {
    position: absolute;
    height: 118px;
    width: 118px;
    border-radius: 236px 0 0 0;
    background-color: #212121;
    border: 1px solid white;
  }

  #heart {
    position: absolute;
    height: 55px;
    width: 65.75px;
    border-radius: 50%;
    top: 40px;
    left: 35px;
  }

  #top-right {
    position: absolute;
    height: 118px;
    width: 118px;
    border-radius: 0 236px 0 0;
    background-color: #212121;
    border: 1px solid white;
    transform: translate(100%, 0%);
  }

  #profile {
    position: absolute;
    height: 55px;
    width: 65.75px;
    border-radius: 50%;
    top: 40px;
    left: 15px;
  }
  
  #bottom-right {
    position: absolute;
    height: 118px;
    width: 118px;
    border-radius: 0 0 236px 0;
    background-color: #212121;
    border: 1px solid white;
    transform: translate(100%, 100%);
  }

  #workout {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
  }
  
  #bottom-left {
    position: absolute;
    height: 118px;
    width: 118px;
    border-radius: 0 0 0 236px;
    background-color: #212121;
    border: 1px solid white;
    transform: translate(0%, 100%);
  }

  #cal {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 15px;
    left: 35px;
  }

  