.screen {
  font-size: 25px;
  position: absolute;
  height: 236px;
  width: 236px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  background-color: #212121;
}

.menus {
  position: relative;
  width: 30px;
  height: 75px;
  background-color: red;
  border-radius: 50%;
  top:60px;
}


  