#left {
    height: 118px;
    width: 236px;
    position: absolute;
    border-radius: 236px 236px 0 0;
    transform:rotate(-90deg);
    background-color: #212121;
    left: -58.5px;
    top: 60px;
    border-top: 1px solid #00A2E8;
    border-right: 1px solid #00A2E8;
    border-left: 1px solid #00A2E8;
    border-bottom: 1px solid #00A2E8;
    
  }
  
  #right {
    height: 118px;
    width: 236px;
    position: absolute;
    border-radius: 236px 236px 0 0;
    transform:rotate(90deg);
    background-color: #212121;
    right: -62.5px;
    top: 60px;
    border-top: 1px solid #00A2E8;
    border-right: 1px solid #00A2E8;
    border-left: 1px solid #00A2E8;
    border-bottom: 1px solid #00A2E8;
  }
  
  #startWorkout {
    text-align: center;
    height: 50px;
    width: 50px;
    /* margin-top: 40px; */
    cursor: pointer;
    transform: rotate(90deg);
    position: relative;
    /* right: -75px; */
  }
  
  
  #selectWorkout {
    text-align: center;
    height: 50px;
    width:50px;
    /* margin-top: 40px; */
    cursor: pointer;
    transform: rotate(-90deg);
    position: relative;
    /* right: -110px; */
  }

  #start, #select {
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;
}

#start {
  top: -93.5px;
  left: 5px;
}

#select {
  bottom: -93.5px;
  right: 15px;
}

.screen {
  font-size: 25px;
  position: absolute;
  height: 236px;
  width: 236px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  /* background-color: red; */
  /* border: 1px solid red; */
}

  #circle {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    border: 0.5px solid #00A2E8;
    top: 160px;
    left: 90px;
    background-color: #212121;
  }

  #return {
    position: relative;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
    border-radius: 50%;
  }

  