body {
  background: grey;
}

.watch {
  width: 260px;
  display: inline-block;
  position: relative ;
}

.watch_frame {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  border: 8px solid #454545;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 6px #555;
  
}

.watch_display {
    position: relative;
    z-index: 99;
    border-radius: 50%;
    height: 96.75%;
    width: 96.75%;
    border: 4px solid #616161;
    background: #212121;
    line-height: 1px;
    text-align: center;
}

.watch_button {
    position: relative;
    left: 15.46em;
    height: 15px;
    width: 12px;
    bottom: 130px;
    background: #787878;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    border-right: 1px dotted #999;
    cursor: pointer;
}

.top_band, .bottom_band {
  width: 135px;
  background: #222;
  position: relative;
  margin-left: 53px;
  margin-right: 53px;
  border-left: 8px solid #3C3C3C;
  border-right: 8px solid #3C3C3C;
  border-radius: 5px;
  box-shadow: 0 0 12px #555;
}

.top_band {
  height: 220px;
  bottom: -25px;
}

.bottom_band {
  height: 220px;
  top: -25px;
}

.text-center {
  text-align: center;
}

#start {
  width: 100px;
  height: 35px;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  text-align: center;
  height: 100%;
  width: 100%;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  position: absolute;
  border-radius: 232.2px 232.2px 0 0;
  transform:translate(0%, -50%);
  background-color: #212121;
  border: 0.5px solid rgb(255, 255, 255);
}

#bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  position: absolute;
  border-radius: 0 0 232.2px 232.2px;
  transform:translate(0%, 50%);
  background-color: #212121;
  border: 0.5px solid rgb(255, 255, 255);
}

#startWorkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 40px;
}


#selectWorkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
}


.calories-display {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

  .calories-lost {
    display: flex;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .calories-gained {
    display: flex;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
  }
  
  .label {
    justify-content: center;
    display: flex;
    font-size: 15px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
  
    .value {
    font-size: 18px;
    margin-right: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;  
  }

  .camera-icon {
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }