.screen {
    font-size: 25px;
    position: absolute;
    height: 236px;
    width: 236px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    background-color: #212121;
    /* border: 1px solid red; */
  }

#take {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 25px;
    left: 77.5px;
    border-radius: 50%;
   }

   #p2 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    top: 105px;
  }

  #return {
    position: relative;
    width: 35px;
    height: 35px;
    top: 110px;
    border-radius: 50%;
    left: 100px;
  }